################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Youtube to Mp3 convertor/.vs/Youtube to Mp3 convertor
